body{
  width: 100%;
  margin: auto;
}

.headerBox{
  width: 100%;
  height: 110px;

}

.headerL{
  float: left;
}

 .headerP{
   padding-left: 10%
 }

.logo1{
  width: 100px;
  padding-left: 10%;
  float:left;
}

.logo2{
  width: 95px;
  padding-left:67%;
}

h1{
  text-align: center;
  color: lightblue;
}

h2{

  color: lightblue;
}

.h3{
  color: white;
}

.p1{
  font-family: sans-serif;
  color:darkorange;

}

.pBox{
  margin: auto;
  padding-left: 17%;
  padding-right: 17%;
}

.box{
  width: 1000px;
  height: 550px;
  background-color: orange;
  border: 2px solid black;
  margin: auto;
}

.innerBox{
  padding: 25px 50px 50px 75px;
  margin: auto;
}

.innerBox2{
  padding: 75px 50px 50px 25px;
  margin: auto;
}

.boxRowL{
  width: 400px;
  float: left;
}

.boxRowR{
  float: right;
}

.boxP1{
  color: white;
  padding-left: 10px;

}
.boxP2{
  color: white;
  padding-left: 10px;

}

.boxImage{
  border: 2px solid yellow;
  width: 250px;
}

.nf{
  padding-left: 2.5%;
}

.tableBox{
  width: 300px;
  height: 140px;
  border: 2px solid black;
}

.td1{
  background-color: pink;
}

.td2{
  background-color: lightgreen;
}

.table{
  padding-left: 2.5%;
  width: 30%;
}

.tdImage{
  width: 50px;
}

.sectionBG{
  background-color: lightyellow;

}

nav {
  width: 100%;
  margin: 20px 0; }

nav ul {
  list-style: none;
  overflow: hidden;

}

nav ul li {
  float: left;
  width: 10%;
  padding-left: 12%;
}

nav ul li a {
  text-align: center;
  padding: 15px;
  display: block;
  width: 50%;
  border-radius: 10px;
  }

nav ul li a,
nav ul li a:focus,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
  font-family: sans-serif;
  color: darkorange;
  text-decoration: none; }

nav ul li a:hover,
nav ul li a:active {
  background: lightblue;
  color: white;
}

.bottomP{
  padding-top: 2.5%;
  text-align: center;
}

.pDiv{
  padding-top: 20%;
}

.p2{
  padding-top: 2.5%;
}

.p2span{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  font-family: cursive;
}

.navDiv{
  padding-top: 2.5%;
}



/* scapepark css */
.smallBoxDiv{
  padding-top: 2.5%;
  padding-left: 10%
}

.smallBox{
  border: 2px solid black;
  width: 30%;
  height:250px;
  float:left;
}

.smallBoxBG{
  background-color: darkorange;

}

.innerSmallBox{
  height: 240px;
  border: 5px solid lightblue;
}

.smallBoxImg{
  width: 100%;
  height:250px;
}

.smallBoxP{
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  font-family: cursive;

}






/* contact page css */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
